h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}

select {
  position: center;
  font-family: Arial;
  background-color: DodgerBlue;
}
body{
   position: center;
   background-color: LightGray;

}
div
{
    display: block;
    text-align: center;
}
.centertable {
    margin: 25px;
  width: 350px;
  height: 200px;

}
