<html>
<head>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
    <h1>Niall's Stock Pattern Screener</h1>
    <div>
    <form>
        <select name="pattern">
            <option value="">->Please Select a Candlestick Pattern from the dropdown<-</option>
            {% for key in candlestick_patterns %}
                <option value="{{ company }}" {% if pattern == company %}selected="selected"{% endif %}>{{ candlestick_patterns[company] }}</option>
            {% endfor %}
        </select>

        <input type="submit" value="Submit" />
    </form>
    </div>

    <div class = "centertable">
    <table >
        <tr>
            <th>Symbol</th>
            <th>Company</th>
            <th>Bullish or Bearish?</th>
        </tr>
        {% for stock in stocks %}
            {% if stocks[stock][pattern] %}
            <tr>
                <td>
                    {{ stock }}
                </td>
                <td>
                    {{ stocks[stock]['company'] }}
                </td>
                <td class="{{ stocks[stock][pattern] }}">
                    {{ stocks[stock][pattern]}}
                </td>
            <tr>
                <td colspan="4">
                    <!-- Gets chart from finviz by using companys ticker -->
                    <img src="https://finviz.com/chart.ashx?t={{ stock }}&ty=c&ta=1&p=d&s=l" />
                </td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
        </div>
</body>
</html>