<html>
<head>
    <style>
        body { font-family: arial; margin: 15px; }
        td { padding: 15px; }
        .bullish { background: green; color: orange; }
        .bearish { background: red; color: black; }
    </style>
</head>
<body>
    <h1>Niall's Stock Pattern Screener</h1>
    <form>
        <select name="pattern">
            <option value="">->Please Select a Candlestick Pattern from the dropdown</option>
            {% for key in candlestick_patterns %}
                <option value="{{ key }}" {% if pattern == key %}selected="selected"{% endif %}>{{ candlestick_patterns[key] }}</option>
            {% endfor %}
        </select>

        <input type="submit" value="Submit" />
    </form>

    <table>
        <tr>
            <th>Symbol</th>
            <th>Company</th>
            <th>Bull or Bear?</th>
        </tr>
        {% for stock in stocks %}
            {% if stocks[stock][pattern] %}
            <tr>
                <td>
                    {{ stock }}
                </td>
                <td>
                    {{ stocks[stock]['company'] }}
                </td>
                <td class="{{ stocks[stock][pattern] }}">
                    {{ stocks[stock][pattern]}}
                </td>
            <tr>
                <td colspan="3">
                    <!-- Gets chart from finviz by using companys ticker-->
                    <img src="https://finviz.com/chart.ashx?t={{ stock }}&ty=c&ta=1&p=d&s=l" />
                </td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
</body>
</html>